@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: #020617;
  color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #8b5cf6;
  color: white;
}
